<nz-header class="app-header">
  <div class="header-content">
    <div class="logoInterHeader"></div>
    <div class="user-info">
      <nz-avatar
        nzText="{{ obtenerPrefijo }}"
        style="color: #b30000; background-color: #fde3cf"
      ></nz-avatar>
      <div class="user-details">
        <div class="user-email">
          {{ nombreCompleto }}
        </div>
        <div class="user-role">{{ userInfo.role }}</div>
      </div>
    </div>
  </div>
</nz-header>

<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <!-- <div class="sidebar-logo">
      <img
        src="https://i.postimg.cc/nh4KBDrC/interrapidisimo-Img.png"
        alt="logo"
      />
    </div> -->

    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        *ngFor="let item of menuItems"
        nz-menu-item
        [routerLink]="item.route"
        routerLinkActive="active"
      >
        <ng-container [ngSwitch]="isCollapsed">
          <span
            *ngSwitchCase="true"
            nz-tooltip
            [nzTooltipTitle]="item.label"
            nzTooltipPlacement="right"
            [nzTooltipColor]="'volcano'"
            nz-icon
            [nzType]="item.icon"
            nzTheme="outline"
          ></span>

          <span
            *ngSwitchDefault
            nz-icon
            [nzType]="item.icon"
            nzTheme="outline"
          ></span>
        </ng-container>

        <span *ngIf="!isCollapsed">{{ item.label }}</span>
      </li>

      <nz-divider></nz-divider>
      <li nz-menu-item class="logout-button" (click)="confirmarCerrarSesion()">
        <ng-container [ngSwitch]="isCollapsed">
          <span
            *ngSwitchCase="true"
            nz-tooltip
            nzTooltipTitle="Cerrar sesión"
            nzTooltipPlacement="right"
            [nzTooltipColor]="'volcano'"
            nz-icon
            nzType="poweroff"
          ></span>

          <span *ngSwitchDefault nz-icon nzType="poweroff"></span>
        </ng-container>

        <span *ngIf="!isCollapsed">Cerrar sesión</span>
      </li>
    </ul>

    <span class="sidebar-trigger" (click)="isCollapsed = !isCollapsed">
      <nz-icon [nzType]="isCollapsed ? 'right' : 'left'"></nz-icon>
    </span>
  </nz-sider>

  <nz-content>
    <div class="inner-content">
      <app-loading></app-loading>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
