<div class="card-row">
  <nz-card class="card">
    <label class="menu-title">Módulo de facturación</label>

    <nz-tabset
      [(nzSelectedIndex)]="selectedIndex"
      [nzAnimated]="false"
      ngSkipHydration
    >
      <nz-tab nzTitle="Generación de Facturas Pendientes">
        <ng-container *ngIf="selectedIndex === 0">
          <app-facturacion-panel [tab]="'pendientes'"></app-facturacion-panel>
        </ng-container>
      </nz-tab>
      <nz-tab nzTitle="Notas Crédito">
        <ng-container *ngIf="selectedIndex === 1">
          <app-facturacion-panel [tab]="'notasCredito'"></app-facturacion-panel>
        </ng-container>
      </nz-tab>
      <nz-tab nzTitle="Notas Débito">
        <ng-container *ngIf="selectedIndex === 2">
          <app-facturacion-panel [tab]="'notasDebito'"></app-facturacion-panel>
        </ng-container>
      </nz-tab>
      <nz-tab nzTitle="Rechazados y Reintentos">
        <ng-container *ngIf="selectedIndex === 3">
          <app-facturacion-panel [tab]="'rechazados'"></app-facturacion-panel>
        </ng-container>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
